// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container, input, button, label {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#container {
  margin-top: 20px;
  text-align: center;
}

#timeElapsed {
  text-align: center;
  font-size: 95px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
  color: #222;
}

#updateAndPlay {
  margin-top: 10px;
}

#updateButton, #playPauseButton {
  margin-left: 10px;
}

input[type=number] {
  text-align: right;
  width: 75px;
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid transparent;
  background-color: #8FBC8F;
}

button {
  width: 105px;
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid transparent;
  background-color: #FD4E4D;
	color: #fff;
}
